.este {
    line-height: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    border: 1px solid;
  }
.icon-color-dark {
 .cd{
  fill: #FFFFFF !important;
 }
 .slash{
  fill: #FFFFFF !important;
 }
 .e{
  fill: #FFFFFF !important;
 }
 .v{
  fill: #FFFFFF !important;
 }
 .Vector_right{
  fill: #FFFFFF !important;
 }
 .Vector_left{
  fill: #FFFFFF !important;
 }
 .cursor{
  fill: #FFFFFF !important;
 }
}