.active-link{
    color:#3780e6;
    background-color: yellowgreen;
}
.nav-link {
    color: rgb(22, 71, 170);
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-link.active {
    color: red; /* Cambia a tu color deseado */
    font-weight: bold;
  }
  