.squares-stick{
    background-image: url("./../../../public/images/cuadros.png");
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: left;
    align-items: left;
    text-align: left;
}
.font-name{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }