.file{
    background-image: url("../../../public/images/iconsSkills/close.svg");
    background-repeat: no-repeat;
}
.file:hover{
    background-image: url("../../../public/images/iconsSkills/open.svg");
    background-repeat: no-repeat;
    width: 5.5rem ;
    height: 5rem ;

}